.main-result {
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__col1 {
		margin-top: 10px;
		margin-right: 10px;
		text-align: right;
	}
	&__col3 {
		margin-top: 10px;
		margin-left: 10px;
		text-align: left;
	}
}

.secondary-result {
	&__title {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	&__list {
	    display: flex;
	    justify-content: center;
	}
	&__list-item {
	    margin: 0 30px;
	}

}
